body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.mydiv {
    margin-top: 40px;
}

h1 {
    color: green;
}

table {
    margin: auto;
    border-collapse: collapse;
    border: 2px solid gray;
}

th,
td {
    border: 1px solid gray;
    padding: 8px 15px;
}

th {
    color: green;
}

td {
    color: #66bb66;
}